#view-high-score{

    color:purple;

}
#highscorelink-div{
    position: fixed;
    top:0;
    left:0px;
    width:auto;
}

#time-div{
   text-align: right;
   position: fixed;
   top:0;
   right: 0;
   width:auto;

}

#highscore-time-row
{
  margin-top:10px;
  margin-bottom: 50px;
}


#quiz-questions
{
    display: none;
}

#result-div
{
    display: none;
}

#all-done{

    display: none;
}




#option-list{
    list-style-type: none;
    padding-left: 15px;
    background-color: white;
}




  
li button {
    
    border: none;
    height: 30px;
    cursor: pointer;
    background-color: #3f1477;
    color: white;
    font-size: 1em;
  }



/* High Score page */
#main-container
{
    margin-top:50px;
    
}
#highscore-heading-row{
    margin-bottom: 40px;
}
  
.button-settings,
.go-back-btn,
.clear-highscores-btn,
#start-quiz-button,
#score-submit
{
    background-color: #3f1477;
    color: white;
    
}

.button-settings:hover,
.go-back-btn:hover,
.clear-highscores-btn:hover,
#start-quiz-button:hover,
#score-submit:hover{
   
    color: white;
    background-color: rgb(147, 119, 175);
}

#user-initials{
    width: 50%;
    display: inline-block;
    height: 40px;
}

#highscore-list-div
{
    background-color:#bfb5d1;
    padding-left: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-left:15px;
    margin-bottom: 20px;
    margin-right: 15px;
}
ol{
    margin-bottom: 0px;
    padding-left: 20px;
}